<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Film</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="post" action="Filmovi/Edit" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
			<input type="hidden" name="id" th:value="${film.id}"/>
			<table class="forma">
				<caption>Film</caption>
				<tr><th>naziv:</th><td><input type="text" th:value="${film.naziv}" name="naziv"/></td></tr>
				<tr>
					<th>žanr:</th>
					<td>
						<th:block th:each="itZanr: ${zanrovi}">
							<input type="checkbox" name="zanrId" th:value="${itZanr.id}" th:checked="${#lists.contains(film.zanrovi, itZanr)}"/><span th:text="${itZanr.naziv}"></span><br>
						</th:block>
					</td>
				</tr>
				<tr><th>trajanje:</th><td><input type="number" min="5" th:value="${film.trajanje}" name="trajanje"/></td></tr>
				<tr><th></th><td><a th:href="|Projekcije?filmId=${film.id}|">projekcije</a></td></tr>
				<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
			</table>
		</form>
		<form method="post" action="Filmovi/Delete" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
			<input type="hidden" name="id" th:value="${film.id}"/>
			<table class="forma">
				<tr><th></th><td><input type="submit" value="Obriši"/></td></tr>
			</table>
		</form>
		<table class="forma" th:if="${session.prijavljeniKorisnik == null or not session.prijavljeniKorisnik.administrator}">
			<caption>Film</caption>
			<tr><th>naziv:</th><td th:text="${film.naziv}"></td>
			<tr>
				<th>žanr:</th>
				<td>
					<ul>
						<li th:each="itZanr: ${film.zanrovi}"><a th:href="|Zanrovi/Details?id=${itZanr.id}|" th:text="${itZanr.naziv}"></a></li>
					</ul>
				</td>
			</tr>
			<tr><th>trajanje:</th><td th:text="${film.trajanje}"></td>
			<tr><th></th><td><a th:href="|Projekcije?filmId=${film.id}|">projekcije</a></td></tr>
		</table>
	</div>
</body>
</html>