<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<title>Prijava</title>
</head>
<body>
	<h2>Bioskop</h2>
	<ul>
		<li><a href="IzvoriPodataka">Izvori podataka za Thymeleaf</a></li>
		<li><a href="Literals">Korišćenje litarala</a></li>
		<li><a href="Operators">Korišćenje operatora</a></li>
		<li><a href="Objekti">Korišćenje objekata</a></li>
		<li><a href="Internacionalizacija">Korišćenje lokalizacije</a></li>
		<li><a href="fragmenti">Rad sa fragmentima</a></li>
		<li><a href="raspored">Flexible prostorni raspored stranica</a></li>
		<li><a href="ajax.html">Test Ajax HTML</a></li>
		<li><a href="">početna</a></li>
	</ul>
	<table class="korisnik" th:unless="${session.prijavljeniKorisnik == null}">
		<tr><th>Prijavljeni ste kao</th><td><a th:href="|Korisnici/Details?korisnickoIme=${session.prijavljeniKorisnik.korisnickoIme}|" th:text="${session.prijavljeniKorisnik.korisnickoIme}"></a>.</td></tr>
		<tr>
			<td colspan="2">
				<ul>
					<li><a href="Korisnici/Logout">odjava</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<table class="korisnik" th:if="${session.prijavljeniKorisnik == null}">
		<tr><th>Niste prijavljeni</th></tr>
		<tr>
			<td>
				<ul>
					<li><a href="registracija.html">registracija</a></li>
					<li><a href="prijava.html">prijava</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<ul>
		<li><a href="Zanrovi">žanrovi</a></li>
		<li><a href="Filmovi">filmovi</a></li>
		<li><a href="Projekcije">projekcije</a></li>
		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Korisnici">korisnici</a></li>
	</ul>
</body>
</html>