<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>DrugiServletiProjekat</display-name>
	<welcome-file-list>
		<welcome-file>pocetna.html</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- sets Servlet and its' mapping -->
	<!-- sets init parameters for Servlet -->
	<!-- sets initialisation of Servlet during startup of application -->
	<!-- 
	<servlet>
		<servlet-name>nameOfServlet</servlet-name>
		<servlet-class>packet.ServletClass</servlet-class>
		<init-param>
			<param-name>nameOfInitParam1</param-name>
			<param-value>valueOfInitParam1</param-value>
		</init-param>
		<init-param>
			<param-name>nameOfInitParam1</param-name>
			<param-value>valueOfInitParam1</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>nameOfServlet</servlet-name>
		<url-pattern>/URLforMapping</url-pattern>
	</servlet-mapping>
 	-->
 	
	<!-- sets init parameter for appliaction -->
	<!-- parameter is available from ServletContext -->
	<!--
	<context-param>
		<param-name>nameOfParamforServletContext</param-name>
		<param-value>10</param-value>
	</context-param>
 	 -->
 	
 	<!-- sets timeout for inactive session -->
 	<!--
	<session-config> 
		<session-timeout>5</session-timeout> 
	</session-config>
	 -->
	 
	<!-- sets listener for aplication -->
	<!--
	<listener> 
		<listener-class>util.InitSessionListener</listener-class> 
	</listener>
	 -->
</web-app>